@import '../../node_modules/rsuite-theme/dist/less/rsuite.less';
@import "../../node_modules/markdownloader/less/highlight.less";

@base-color: #004889;

.doc-page{
    margin-top: 70px;
}

.prefix{
    color:#0ae;
}
.green{
    color: #1b9451;
}

.gray{
    color: #ddd;
}

h2{
    font-size: 20px;
    margin-top: 20px;
}
h3{
    font-size: 16px;
}
blockquote{
    font-size: 14px;
}
