/**灰色色阶为公用颜色**/
@B000:#fff;
@B050:#f5f5f5;
@B100:#eee;
@B200:#e5e5e5;
@B300:#ddd;
@B400:#ccc;
@B500:#b5b5b5;
@B600:#9f9f9f;
@B700:#888;
@B800:#717171;
@B900:#575757;

/**主题**/
@H050:#e6edf3;
@H100:#b3c8dc;
@H200:#80a4c4;
@H300:#5585b0;
@H400:#2a669d;
@H500:#004889;
@H600:#003f78;
@H700:#003667;
@H800:#002d56;
@H900:#002445;
