//treeTable

&-table-cell-expanded &-table-cell-expand-icon:before {
  content: ' - ';
}

&-table-cell-expand-icon {
  cursor: pointer;
  outline: none;

  &:before {
    font-family: -webkit-pictograph;
    content: ' + ';
  }
}

&-table-cell-expand-wrapper {
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}
